#loading_page {
	position: fixed;
	background: #ffffff;
	z-index: 10000;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 50px;
	bottom: 0;
	font-size: 50px;
	font-family: "Century Schoolbook", serif;
	text-align: center;
	color: #000000;
}

.center-fit {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}

.wrapper{
  height:100%;
  position:relative;
  overflow-x:visible;
  overflow-y:visible;
}

.nav-tabs {
  font-weight: 900;
  font-size: 15px
}

.control-label {
  font-weight: 100;
}

.main-sidebar .user-panel, .sidebar-menu, .sidebar-menu>li.header.p {
  white-space: normal;
  padding: 10px;
}

.skin-blue .main-header .navbar {
  background-color: #003865;
}

.skin-blue .main-header .logo {
  text-align: left;
  background-color: #003865;
}

.skin-blue .main-header .logo:hover {
  background-color: #003865;
}

.box.box-solid.box-info>.box-header {
  background: #003865;
}

.box.box-solid.box-info {
  border: 1px solid #222d32;
}
